#naverUserInfoBox {
	width: 500px;
	margin: auto;
	margin-top: 60px;
}

#naverLogoutButton {
	width: 100px;
	height: 30px;
	position: absolute;
	margin-left: 195px;
}

#naverProfileImage {
	width: 500px;
	height: 500px;
}
